{{ $baseUrl := .Site.BaseURL }}
<!-- Begin header inner -->
<div class="header-inner tt-wrap">
  <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
  <!-- Begin logo 
				================ -->
  <div id="logo">
    {{ with (resources.Get "img/logo-dark.png").Resize "x175" | fingerprint }}
    <a href="{{ $baseUrl }}" class="logo-dark"><img src="{{ .RelPermalink }}" alt="logo"></a>
    {{ end }}
    {{ with (resources.Get "img/logo-light.png").Resize "x175" | fingerprint }}
    <a href="{{ $baseUrl }}" class="logo-light"><img src="{{ .RelPermalink }}" alt="logo"></a>
    {{ end }}
    <!-- for small screens -->
    {{ with (resources.Get "img/logo-dark-m.png").Fit "38x49" | fingerprint }}
    <a href="{{ $baseUrl }}" class="logo-dark-m"><img src="{{ .RelPermalink }}" alt="logo"></a>
    {{ end }}
    {{ with (resources.Get "img/logo-light-m.png").Fit "38x49" | fingerprint }}
    <a href="{{ $baseUrl }}" class="logo-light-m"><img src="{{ .RelPermalink }}" alt="logo"></a>
    {{ end }}
  </div>
  <!-- End logo -->
  <!-- ====================
				//// Begin main menu ////
				===================== -->
  <nav class="tt-main-menu">
    <!-- Begin mobile menu toggle button -->
    <div id="tt-m-menu-toggle-btn">
      <span></span>
    </div>
    <!-- End mobile menu toggle button -->
    <!-- Collect the nav links for toggling 
					========================================
					* Use class "tt-submenu-dark" to enable submenu dark style.
					-->
    <div class="tt-menu-collapse tt-submenu-dark">
      <ul class="tt-menu-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul> <!-- /.tt-menu-nav -->
    </div> <!-- /.tt-menu-collapse -->
  </nav>
  <!-- End main menu -->
</div>
<!-- End header inner -->
