<!DOCTYPE html>
{{ $lang := .Site.Language.Lang | default "es" }}
<html lang="{{ $lang }}">
{{- partial "head.html" . -}}

<body id="body" class="animsition tt-boxed">

  <header id="header" class="menu-align-right header-show-hide-on-scroll {{ if .Params.transparentHeader }} header-transparent {{ else }} header-solid{{ end }}">
    {{- partial "header.html" . -}}
  </header>
  <!-- End header -->

  <!-- *************************************
  		*********** Begin body content *********** 
  		************************************** -->
  <div id="body-content">
    {{- block "main" . }}{{- end }}
  </div>
  <!-- End body content -->
  {{- partial "footer.html" . -}}
</body>

</html>
