<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body id="body" class="animsition tt-boxed">
    <!-- Header -->
    <header id="header"
      class="menu-align-right header-show-hide-on-scroll {{ if .Params.transparentHeader }}header-transparent{{ else }}header-solid{{ end }}">
      {{ partial "header.html" . }}
    </header>
    <!-- End Header -->

    <!-- Main Content -->
    <div id="body-content" role="main">
      {{ block "main" . }}{{ end }}
    </div>
    <!-- End Main Content -->

    <!-- Footer -->
    {{ partial "footer.html" . }}
  </body>
</html>
