{{ define "main" }}
{{ $baseUrl := .Site.BaseURL }}
<!-- ============================
			///// Begin contact section /////
			============================= -->
<section id="contact-section" class="contact-simple">
  <div class="contact-section-inner full-height-vh">
    <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
    <div class="full-cover bg-image"
      style="background-image: url(assets/img/misc/contact-bg-2.jpg); background-position: 50% 50%;"></div>
    <!-- Element cover -->
    <div class="cover bg-transparent-1-dark"></div>
    <!-- Begin contact info -->
    <div class="contact-info-wrap">
      <!-- Begin tt-heading 
						====================== 
						* Use class "padding-on" to enable heading paddings (useful if you use tt-heading as stand alone element).
						* Use class "text-center" or "text-right" to align tt-heading.
						* Use classes "tt-heading-xs", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set tt-heading size.
						-->
      <div class="tt-heading">
        <div class="tt-heading-inner">
          <h1 class="tt-heading-title">{{ i18n "contacto_conmigo" }}</h1>
          <!-- <div class="tt-heading-subtitle">Subtitle Here</div> -->
          <hr class="hr-short">
        </div> <!-- /.tt-heading-inner -->
      </div>
      <!-- End tt-heading -->
      <div class="contact-info margin-top-40">
        <p><i class="fas fa-home"></i> {{ i18n "direccion" }}: {{ .Params.address }}</p>
        <p><i class="fas fa-phone"></i> {{ i18n "telefono" }}: {{ .Params.phone }}</p>
        <p><i class="fas fa-envelope"></i> {{ i18n "email" }}: <a href="mailto:{{ .Params.email }}" target="_blank">{{
            .Params.email
            }}</a>
        </p>
      </div>
      <!-- Begin social buttons -->
      <div class="social-buttons margin-top-20">
        <ul>
          <li><a href="{{ .Site.Params.glass }}" class="btn btn-social-min btn-default btn-rounded-full" title="{{
                                          i18n " sigueme_glass" }}" target="_blank">
              {{ with (resources.Get "img/glass-photo.png").Fit "24x24" | fingerprint }}
              <img class="fab" src="{{ .RelPermalink }}"></img>
              {{ end }}
            </a></li>
          <li><a href="{{ .Site.Params.instagram }}" class="btn btn-social-min btn-default btn-rounded-full" title="{{
                                                                      i18n " sigueme_instagram" }}" target="_blank">
              {{ with (resources.Get "img/instagram.png").Fit "24x24" | fingerprint }}
              <img class="fab" src="{{ .RelPermalink }}"></img>
              {{ end }}
            </a></li>
        </ul>
      </div>
      <!-- End social buttons -->
    </div>
    <!-- End contact info -->
  </div> <!-- /.contact-section-inner -->
</section>
<!-- End contact section -->
{{ end }}
