{{ define "main" }}
<section id="gallery-list-section" class="gallery-list-carousel">
  <div class="gallery-list-carousel-inner">
    <div class="gl-carousel-wrap no-padding">
      <div class="owl-carousel cc-height-full owl-mousewheel nav-bottom-right cc-hover-dark cc-hover-zoom"
        data-items="4" data-dots="false" data-nav="true" data-nav-speed="800" data-autoplay="true"
        data-autoplay-timeout="8000" data-autoplay-speed="800" data-autoplay-hover-pause="true"
        data-tablet-landscape="3" data-tablet-portrait="3" data-mobile-landscape="2" data-mobile-portrait="2">
        {{ range .Params.sections }}
        {{ $image := index . 0 }}
        {{ $title := index . 1 }}
        {{ $url := index . 2 }}
        {{ $page := site.GetPage $url }}
        {{ with resources.Get $image }}
        <a href="{{ $page.RelPermalink }}" class="cc-item">
          <!-- Carousel Image -->
          <div class="cc-image bg-image"
            style="background-image: url('{{ .Permalink }}'); background-position: 50% 50%;">
          </div>
          <!-- Caption -->
          <div class="cc-caption center cc-caption-lg">
            <h2 class="cc-title">{{ $title }}</h2>
          </div>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
