{{ $baseUrl := .Site.BaseURL }}
{{ $title := cond (isset .Page.Params "title") (printf "%s | %s" .Site.Title .Page.Title) .Site.Title }}
{{ $description := .Site.Params.description }}
{{ $og_image := resources.Get "img/logo-dark.png" }}
{{ with .Page.Params.og_image }}
{{ $og_image = resources.Get . }}
{{ end }}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- SEO -->
  <title>{{ $title }}</title>
  <meta name="description" content="{{ $description }}">
  <meta name="author" content="{{ .Site.Author }}">
  <meta name="keywords" content="{{ delimit .Site.Params.keywords " , " }}">
  <!-- Open Graph -->
  <meta property="og:title" content="{{ $title }}">
  <meta property="og:description" content="{{ $description }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ $og_image.Permalink }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ $description }}">
  <meta name="twitter:image" content="{{ $og_image.Permalink }}">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ $baseUrl }}favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ $baseUrl }}apple-touch-icon.png">
  <!-- Preload Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <!-- CSS Resources -->
  {{ $styles := slice
  "vendor/bootstrap/css/bootstrap.min.css"
  "vendor/animsition/css/animsition.min.css"
  "vendor/fontawesome/css/fontawesome-all.min.css"
  "vendor/lightgallery/css/lightgallery.min.css"
  "vendor/owl-carousel/css/owl.carousel.min.css"
  "vendor/owl-carousel/css/owl.theme.default.min.css"
  "vendor/ytplayer/css/jquery.mb.YTPlayer.min.css"
  "css/helper.css"
  "css/theme.css"
  "css/round-style.css"
  "css/color-skins/skin-green.css"
  }}
  {{ range $styles }}
  <link rel="stylesheet" href="{{ $baseUrl }}assets/{{ . }}">
  {{ end }}
  <!-- Modern Browsers -->
  <meta name="color-scheme" content="dark light">
  <meta name="theme-color" content="#4CAF50">
  <!-- Legacy Browser Support -->
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
