{{ $baseUrl := .Site.BaseURL }}
{{ $currentPage := . }}
<div class="header-inner tt-wrap">
  <!-- Logo Section -->
  <div id="logo">
    {{ $logos := dict
    "dark" (dict "size" "200x70" "class" "logo-dark")
    "light" (dict "size" "200x70" "class" "logo-light")
    "dark-m" (dict "size" "50x50" "class" "logo-dark-m")
    "light-m" (dict "size" "50x50" "class" "logo-light-m")
    }}
    {{ range $name, $config := $logos }}
    {{ with (resources.Get (printf "img/logo-%s.png" $name)).Fit $config.size | fingerprint }}
    <a href="{{ $baseUrl }}" class="{{ $config.class }}">
      <img src="{{ .RelPermalink }}" alt="Logo {{ $name }}" loading="{{ cond (eq $name "dark" "light") "eager" "lazy" }}"
        width="{{ index (split $config.size "x") 0 }}" height="{{ index (split $config.size "x") 1 }}">
    </a>
    {{ end }}
    {{ end }}
  </div>
  <!-- Main Navigation -->
  <nav class="tt-main-menu">
    <button id="tt-m-menu-toggle-btn" aria-label="Toggle Menu">
      <span></span>
    </button>
    <div class="tt-menu-collapse tt-submenu-dark">
      <ul class="tt-menu-nav">
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}" {{ if hasPrefix .URL "http" }}target="_blank" rel="noopener"{{ end }}>
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>
</div>
