{{ define "main" }}
<section id="tt-intro" class="gallery-list-carousel slideshow-intro">
  <div class="tt-intro-inner">
    <div class="gl-carousel-wrap no-padding">
      <!-- Carousel Configuration -->
      {{ $carouselConfig := dict
        "classes" (slice
          "cc-height-full"
          "bg-dark"
          "dcc-hover-none"
          "nav-inside"
          "nav-dark"
          "dots-inside"
          "dots-center"
          "dots-squared"
        )
        "data" (dict
          "margin" "0"
          "items" "1"
          "tablet-landscape" "1"
          "tablet-portrait" "1"
          "mobile-landscape" "1"
          "mobile-portrait" "1"
          "center" "true"
          "animate-in" "fadeIn"
          "animate-out" "fadeOut"
          "dots" "true"
          "nav" "true"
          "nav-speed" "1200"
          "autoplay" "1"
          "loop" "1"
          "autoplay-hover-pause" "true"
          "autoplay-timeout" "8000"
          "smartSpeed" "1200"
          "animateIn" "fadeIn"
          "animateOut" "fadeOut"
        )
      }}

      <!-- Start Carousel -->
      <div class="owl-carousel {{ delimit $carouselConfig.classes " " }}"
        {{- range $key, $value := $carouselConfig.data }} data-{{ $key }}="{{ $value }}"{{ end }}>

        {{ if isset .Params "backgroundimages" }}
          {{ range .Params.backgroundimages }}
            <div class="cc-item">
              <span class="cover bg-transparent-5-dark"></span>
              {{ $imgPath := index . 0 }}
              {{ with resources.Get $imgPath }}
                {{ $image := . | fingerprint }}
                <div class="cc-image bg-image"
                  style="background-image: url('{{ $image.RelPermalink }}'); background-position: 50% 50%;">
                </div>
              {{ end }}
              <div class="intro-caption caption-animate intro-caption-xs bottom-center">
                {{ with index . 1 }}<h1 class="intro-title">{{ . }}</h1>{{ end }}
                {{ with index . 2 }}
                  <q class="intro-description max-width-650">{{ . }}</q>
                  <br>
                {{ end }}
                {{ with index . 3 }}
                  <cite class="intro-description max-width-650">{{ . }}</cite>
                {{ end }}
              </div>
            </div>
          {{ end }}
        {{ else }}
          <div class="cc-item">
            <p>No background images found</p>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
